footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 10px;
  width: 100%;
  text-align: center;
  background: #2f3441;
  font-family: 'Poiret One', 'cursive';
  color: #eee;
  z-index: 1;
}
