.icons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.icon-item {
  flex-basis: 10%;
  text-align: center;
  padding: 10px;
}

svg {
  fill: #eee;
  width: 100px;
  height: 100px;
}
