scroll-container {
  display: block;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  scroll-behavior: smooth;
  background: #00e1b6;
}

scroll-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

#landing > h1 {
  font-size: 9em;
  text-align: center;
  font-family: 'Poiret One', 'cursive';
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #445561;
  max-width: 100%;
  margin: 0 auto;
}

#landing > h2 {
  font-size: 3em;
  text-align: center;
  font-family: 'Poiret One', 'cursive';
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #eee;
  max-width: 100%;
  margin: 0 auto;
}

#landing h1 > span {
  color: #eee;
}

#skills {
  background-color: #445561;
  min-height: 100vh;
}

#skills > div > h1 {
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
  font-size: 5em;
  font-family: 'Poiret One', 'cursive';
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #00e1b6;
  margin: 0 auto;
  z-index: 1;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.flex-item {
  flex-grow: 1;
  margin: auto;
}

.scrl a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font-family: 'Poiret One', 'cursive';
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: opacity 0.3s;
}
.scrl a:hover {
  opacity: 0.5;
}

#scroll-bot a {
  padding-top: 60px;
}
#scroll-bot a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: scrl 2s infinite;
  animation: scrl 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}
#scroll-bot a span:nth-of-type(1) {
  animation-delay: 0s;
}
#scroll-bot a span:nth-of-type(2) {
  top: 16px;
  animation-delay: 0.15s;
}
#scroll-bot a span:nth-of-type(3) {
  top: 32px;
  animation-delay: 0.3s;
}

#scroll-top a {
  padding-top: 60px;
}
#scroll-top a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  -webkit-animation: scrl 2s infinite;
  animation: scrl 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}
#scroll-top a span:nth-of-type(1) {
  animation-delay: 0s;
}
#scroll-top a span:nth-of-type(2) {
  top: 16px;
  animation-delay: 0.15s;
}
#scroll-top a span:nth-of-type(3) {
  top: 32px;
  animation-delay: 0.3s;
}
@-webkit-keyframes scrl {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes scrl {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 918px) {
  #landing > h1 {
    font-size: 8em;
  }
  #landing > h2 {
    font-size: 2.8em;
  }
}

@media (max-width: 816px) {
  #landing > h1 {
    font-size: 7em;
  }
  #landing > h2 {
    font-size: 2.6em;
  }
}

@media (max-width: 714px) {
  #landing > h1 {
    font-size: 6.5em;
  }
  #landing > h2 {
    font-size: 2.6em;
  }
}

@media (max-width: 663px) {
  #landing > h1 {
    font-size: 6em;
  }
  #landing > h2 {
    font-size: 2.5em;
  }
}

@media (max-width: 612px) {
  #landing > h1 {
    font-size: 5.5em;
  }
  #landing > h2 {
    font-size: 2em;
  }
}

@media (max-width: 600px) {
  scroll-container {
    overflow-y: scroll;
  }
}

@media (max-width: 573px) {
  #scroll-top {
    position: fixed;
    bottom: 0;
    right: 5%;
  }
  #landing > h1 {
    font-size: 5em;
  }
  #landing > h2 {
    font-size: 1.8em;
  }
  #skills > div > h1 {
    font-size: 3em;
    writing-mode: horizontal-tb;
    transform: rotate(0deg);
  }
  .flex-container {
    flex-direction: column;
  }

  #skills {
    min-height: 110vh;
  }
}

@media (max-width: 479px) {
  #skills > div > h1 {
    font-size: 3em;
    writing-mode: horizontal-tb;
    transform: rotate(0deg);
  }
  .flex-container {
    flex-direction: column;
  }

  #skills {
    min-height: 130vh;
  }
}

@media (max-width: 360px) {
  #skills > div > h1 {
    font-size: 3em;
  }
  #skills {
    min-height: 190vh;
  }
}

@media (max-width: 239px) {
  #skills > div > h1 {
    font-size: 3em;
  }

  #skills {
    min-height: 370vh;
  }
}

@media (max-height: 736px) {
  #skills {
    min-height: 150vh;
  }
}

@media (max-height: 732px) {
  #skills {
    min-height: 165vh;
  }
}

@media (max-height: 640px) {
  #skills {
    min-height: 185vh;
  }
}

@media (max-height: 568px) {
  #skills {
    min-height: 280vh;
  }
}

@media (max-height: 533px) {
  #skills {
    min-height: 300vh;
  }
}

@media (max-height: 480px) {
  #skills {
    min-height: 330vh;
  }
}

@media (max-height: 360px) {
  #skills {
    min-height: 200vh;
  }
}

@media (max-width: 568px) and (max-height: 320px) {
  #skills {
    min-height: 270vh;
  }
}
